body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: Arial, sans-serif;
    background: url('./images/phonedirectory.jpg') no-repeat;
    background-size: cover; /* Ensures the background image covers the entire body */
    background-position: center; /* Centers the background image within the body */
   }

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.navbar {
    background-color: transparent;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; /* Ensure the navbar is above the dark overlay */
    transition: background-color 0.3s ease;
}

.navbar.sticky {
    background-color: #000;
}

.navbar-brand {
    /* padding-left: 10px; */
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
#cube{
    padding-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.login {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    color: #000;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
.login > span{
    margin-right:-5px ;
    margin-top: 8px;
}
.login:hover {
    color: #fff;
    /* background-color: #000000; */
    border-radius: 10px;
    transform: scale(1.2);
    animation: colorgone 1s forwards infinite !important;
}

@keyframes colorgone {
    0% {
        background-image: linear-gradient(to right, #f2008a, #d4279c, #b13aa8, #8b46ad, #634dab, #4959b0, #2c63b2, #006baf, #007eb6, #0090b5, #00a0ae, #1caea4);    }
    25% {
        background-image: linear-gradient(to right, #ff14ff, #e410e6, #ca0ccd, #b108b5, #98049d, #88038f, #790282, #6a0174, #60016c, #550165, #4c005d, #420055);    }
    50% {
        background-image: linear-gradient(to right, #fb76bc, #e462a2, #cc4e89, #b43a71, #9d255a, #901a4b, #830d3d, #75002f, #6d0026, #65001d, #5d0015, #55000b);    }
    75% {
        background-image: linear-gradient(to right, #7682fb, #646ae3, #5253cc, #413cb4, #2e259d, #212594, #12258a, #002480, #00317c, #003872, #003c64, #003f55);    }
    100% {
        background-image: linear-gradient(to right, #cdfb76, #bfe261, #b1ca4c, #a2b338, #939c23, #8a8c18, #807c0b, #766d00, #6f6100, #675500, #5e4a00, #553f00);    }
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 55%;
}

.navbar-links li {
   padding: 5px;
    margin-right: 20px;
}

.navbar-links li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #ff7f50;
}

.content {
    margin: auto;
    margin-top: 150px;
    text-align: center;
    width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    border-radius: 20px;
    position: relative; /* Ensure content is stacked above the dark overlay */
    z-index: 1;
    animation:slideInFromTop 2s forwards alternate;
    animation-delay: 0.5s; 
    opacity: 0;/* Ensure the content is above both the navbar and dark overlay */
}

.content > h1{
    font-size: 50px;
    color: #000000;
}

.content > p{
    margin: auto auto;
    font-size: 25px;
    color: #000000;
    width: 80%;
    text-align: justify;
}

/* Add animation class after the page loads */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar.animated {
    animation: slideInFromTop 0.5s forwards;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}
/* Modal Content */
.modal-content {
    background: url('./images/dark-forest.jpg');
   background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
   text-align: center;
   
    transform: translate(-50%, -50%);
}
/* The Close Button */
.close {
    color: #0099ff;
    float: right;
    margin-right: 10px;
    font-size: 35px;
    font-weight: bold;
}
#h2{
    color: white;
    padding-left: 100px;
    /* padding: 8px; */
    text-align: left;
    margin-top: 80px;
    font-size: 50px;
}
.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#content {
    display: block;
}
#Userlogo{
    width: 30px;
    height: 30px;
    margin-left: -250px;
    border-radius: 50%;
    margin-top: 10px;
}
@keyframes movePlaceholder {
    from {
        transform: translateY(0);
        color: transparent;
    }
    to {
        transform: translateY(-100%);
        color: #999; /* Adjust placeholder color when moved to the top */
    }
}

#username:focus::placeholder {
    animation: movePlaceholder 0.3s forwards;
}

#username:not(:placeholder-shown)::placeholder {
    animation: movePlaceholder 0.3s forwards;
}
#username{
    margin-left: 20px;
    background: url('./images/user.gif');
    background-size: 20px; /* Adjust the size of the icon */
    background-repeat: no-repeat;
    background-position: 10px center;
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
border: 1px solid rgb(32, 103, 255);
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 20px;
border-radius: 20px;
opacity: 0; /* Initially hide the input fields */
    animation: slideIn 2s forwards; 
}
#password::placeholder,
#username::placeholder{
    color: black;
}
#password{
    margin-left: 20px;
    background: url('./images/icons8-password-64.png');
    background-size: 20px; /* Adjust the size of the icon */
    background-repeat: no-repeat;
    background-position: 10px center;
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
border: 1px solid rgb(32, 103, 255);
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 20px;
border-radius: 20px;
opacity: 0; /* Initially hide the input fields */
    animation: slideIn 2s forwards; 
    animation-delay: 1s;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
#loginForm{
    margin-top: -30px;
    background-color: #000;
    height: 50%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background: blur(2px);
    background: transparent;
}
#sentlogo{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    mix-blend-mode:darken;
    color: white;
}
#button{
   background: #0051ff;
    /* background-color: #ffffff; */
    border-radius: 20px;
margin-left: 120px;
margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border: 2px solid blanchedalmond;
    animation: fadeup 2s forwards  ;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
#button:hover{
    transform: scale(1.1);
    background-color: white;
    border: 2px solid black;
}
.block1{
    height: 100%;
    /* margin-top: 200px; */
    padding: 10px;
    margin-top: 50px;
    display: none;
    z-index: 3;
    position: relative;
    text-align: center;
}
.main{
    width: 100%;
    height: 100%;
    margin: auto auto;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 20px;
    padding: 10px;
}
.AddContact{
    margin-top: 100px;
   height: 80%;
   display: none;
   position: relative;
z-index: 1;
}
#UpdateContact{
    margin-top: 100px;
    height: 80%;
    display: none;
    position: relative;
 z-index: 1;
}
.main1{
    width: 80%;
    height: 100%;
    margin: auto auto;
   padding-top: 50px;
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}
.main2{
    width: 80%;
    height: 100%;
    margin-top: 50px;
    margin-left: 100px;
    /* margin: auto auto; */
   /* padding-top: 50px; */
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}
.child1-2 > label,
.child1-1 > label{
    text-align: left;
color: #000;
font-size:30px;
color: white;
opacity: 0;
animation: slideIn 2s forwards ;
}
.child2-1 > label,
.child2-2 > label{
    text-align: left;
    color: #000;
    font-size:30px;
    color: white;
    opacity: 0;
    animation: slideIn 2s forwards ;
}
.child1-2 > input,
.child1-1 > input{
    font-size: 20px;
    padding: 10px;
    /* border-radius: 20px; */
    background:transparent;
    color: white;
    border: 2px solid orange;
    border-top: hidden;
    /* border-left: hidden; */
    border-right: hidden;
    animation: fadeup 3s forwards;
    opacity: 0;
    animation-delay: 1s;
}
#Phoneno1,
#Phoneno2,
#Phoneno3{
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    /* border-radius: 20px; */
    background:transparent;
    color: white;
    border: 2px solid orange;
    border-top: hidden;
    /* border-left: hidden; */
    border-right: hidden;
    animation: fadeup 3s forwards;
    opacity: 0;
    animation-delay: 1s;
}
#Phoneno1:hover,
#Phoneno2:hover,
#Phoneno3:hover,
#Name:hover,
#address:hover,
#email:hover,
#lastName:hover,
#phone:hover,
#Name1:hover,
#address1:hover,
#email1:hover,
#lastName1:hover,
#phone1:hover,
#Name2:hover,
#address2:hover,
#email2:hover,
#lastName2:hover,
#phone2:hover,
#Name3:hover,
#address3:hover,
#email3:hover,
#lastName3:hover,
#phone3:hover {
border: 2px solid lightblue;
border-bottom: hidden;
border-left:hidden ;
transform: scale(1.1);
}
#Phoneno1::placeholder,
#Phoneno2::placeholder,
#Phoneno3::placeholder,
#Name::placeholder,
#address::placeholder,
#email::placeholder,
#lastName::placeholder,
#phone::placeholder,
#Name1::placeholder,
#address1::placeholder,
#email1::placeholder,
#lastName1::placeholder,
#phone1::placeholder,
#Name2::placeholder,
#address2::placeholder,
#email2::placeholder,
#lastName2::placeholder,
#phone2::placeholder,
#Name3::placeholder,
#address3::placeholder,
#email3::placeholder,
#lastName3::placeholder,
#phone3::placeholder{
color: white;
}
.child1-1{
    padding-top: 100px;
    width: 50%;
    padding: 10px;
    padding-left: 150px;
    text-align: left;
}
.child1-2{
    width: 50%;
    padding: 10px;
    text-align: left;
}
.child2-1{
    padding-top: 100px;
    width: 50%;
    padding: 10px;
    padding-left: 150px;
    text-align: left;
}
.child2-2{
    width: 50%;
    padding: 10px;
    text-align: left;
}
.child2-1 > input{
    font-size: 20px;
    padding: 10px;
    /* border-radius: 20px; */
    background:transparent;
    color: white;
    border: 2px solid orange;
    border-top: hidden;
    /* border-left: hidden; */
    border-right: hidden;
    animation: fadeup 3s forwards;
    opacity: 0;
    animation-delay: 1s;
}
.child2-2 > input{
    font-size: 20px;
    padding: 10px;
    /* border-radius: 20px; */
    background:transparent;
    color: white;
    border: 2px solid orange;
    border-top: hidden;
    /* border-left: hidden; */
    border-right: hidden;
    animation: fadeup 3s forwards;
    opacity: 0;
    animation-delay: 1s;
}
#Addcontact{
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    padding-left: 35px;
    padding-right:35px ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    animation: fadein 3s forwards  ;
    animation-delay: 2s;
    opacity: 0;
}
#Updatecontact,
#Searchcontact{
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    padding-left: 30px;
    padding-right:30px ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    animation: fadein 3s forwards;
    animation-delay: 3s;
    opacity: 0;
}
#Delcontact{
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    animation: fadein 2s forwards   ;
animation-delay: 4s;
opacity: 0;
}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: scale(0.5);
        transform:translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0px);
    }
}
#Addcontact:hover,
#Updatecontact:hover,
#Searchcontact:hover,
#Delcontact:hover{
    transform: scale(1.2);
    background-color: #7311e4;
    border-top:2px solid #002480;
    border-bottom: 2px solid #002480;
}
#databasebtn{
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
    background-color: orange;
    border: hidden;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transform: scale(0.7);
}
#databasebtn:hover{
    background-color: aqua;
    border: 2px solid black;
    border-left: hidden;
    border-right: hidden;
    transform: scale(1);
}
#Update-Label{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5px;
    padding-left: 100px;
}
#Phoneno{
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    /* border-radius: 20px; */
    background:white;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(5, 5, 5);
    border-top: hidden;
    /* border-left: hidden; */
    border-right: hidden;
    animation: fadeup 3s forwards; 
     opacity: 0;
    animation-delay: 1s;
}
#Searchbtn{
    font-size: 20px;
    background-color: orange;
    padding: 10px;
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 35px;
    padding-right:35px ;
    text-align: center;
    color: white;
    border-radius: 10px;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    animation: fadein 3s forwards  ;
    animation-delay: 2s;
    opacity: 0;
}
#delContact{
    margin-top: 100px;
    height: 80%;
    display: none;
    position: relative;
 z-index: 1;
}
#SearchContact{
    margin-top: 100px;
    height: 80%;
    display: none;
    position: relative;
 z-index: 1;
}